.emptyCard {
    min-height: 210px;
    flex-grow: 1;
    visibility: hidden;
    margin-left: 18px;
}

.emptyCardImage {
    padding: 9px 16px 9px 17px;
}

.emptyCardTitle {
    padding: 12px 18px 12px;
}